.whole_courses {
    //    @media screen and (min-width: 768px) {
    height: 100vh;
    //    }

    background-image: url(../img/bg_digital.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h1 {
        margin-top: 40px;

        @media screen and (max-width: 767px) {
            margin-top: 55px;
            font-size: 3rem;
        }
    }

    .goldline_courses {
        margin-top: 30px;
        margin-bottom: 100px;
        height: 4px;
        width: 30%;
        background: #e3ca88;

        @media screen and (max-width: 767px) {
            margin-bottom: 30px !important;
        }
    }

    .swiper-slide {
        position: relative;
    }

    .inner_block {
        text-align: right;
        position: relative;
        left: -80px;
        bottom: -20px;
        background-image: url(../img/underhall.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 300px;
        width: 350px;
        padding: 15px 20px;
        @media screen and (max-width: 991px) and (min-width: 768px) {
            left: 15px;
            bottom: 0px;
        }
        @media screen and (max-width: 767px) {
            bottom: -25px;
            left: 0;
        }

        .first_p {
            font-size: 14px;
            line-height: 18px;
        }

        .gold-link {
            float: left;
            font-size: 16px;
            position: absolute;
            top: 130px;
            left: 30px;
        }

        span {
            position: absolute;
            top: 125px;
            right: 30px;
            color: #fff;
            font-size: 22px;
        }

        .white_strap {
            height: 80px;
            position: relative;
            bottom: -35px;
            text-align: center;

            h2 {
                margin-bottom: 0px;

                &:last-child {
                    font-weight: 700;
                    color: $gold;
                }
            }
        }

        .purchasing {
            position: absolute;
            bottom: 10px;
            left: 95px;
            height: 45px;
            border: 2px solid $gold;
            display: inline-block;
            border-collapse: collapse;

            a {
                position: relative;
                padding: 5px 8px 5px 40px;
                display: inline-block;
                height: 100%;
                font-size: 16px;
                font-weight: 700;
                text-align: center;
                color: rgb(51, 51, 51);
                background: linear-gradient(45deg, $gold2, $gold);
                transition: background 0.4s;
                line-height: 30px;

                .basket {
                    margin-right: 5px;
                    display: inline-block;
                    position: absolute;
                    top: 10px;
                    right: 130px;
                    height: 20px;
                    width: 20px;
                    background-image: url(../img/basket.png);
                    background-repeat: no-repeat;
                    background-position: 0px center;
                }
            }
        }
    }

    .section_footer {
        background-color: #1f1f1f;
        width: 100%;
        margin-top: 20px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;

        p {
            display: inline-block;
            margin: 0;
            padding-top: 15px;
            padding-bottom: 15px;
            color: #676a6a;
            font-size: 20px;
            padding-left: 55px;
            background-image: url(../img/trademark.png);
            background-position: 20px center;
            background-repeat: no-repeat;
            padding-right: 20px;
        }
    }


















    .swiper-container {
        width: 100%;

        @media screen and (min-width: 992px) {
            height: 500px;
        }

        @media screen and (min-width: 768px) and (max-width: 991) {
            height: 450px;
        }

        @media screen and (max-width: 767px) {
            height: 350px;
        }
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background-image: url(../img/hall1.png);
        background-position: right top;
        background-size: 80%;
        background-repeat: no-repeat;





        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-button-prev {
        background-image: url(../img/icons/b-n.svg) !important;
        transform: rotate(180deg);
        top: 91%;
    }

    .swiper-button-next {
        background-image: url(../img/icons/b-n.svg) !important;
        top: 91%;
    }
}